cloveretl.examples/DataServicesExamples/meta/contacts_json.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="json_array" type="json_arrayType"/>
  <xs:complexType name="json_array__clj2x-sfx_1Type">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="first-name"/>
      <xs:element type="xs:string" name="last-name"/>
      <xs:element type="xs:string" name="phone"/>
      <xs:element type="xs:string" name="email"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="arrayElem" use="optional"/>
    <xs:attribute type="xs:byte" name="arrayDepth" use="optional"/>
  </xs:complexType>
  <xs:complexType name="json_arrayType">
    <xs:sequence>
      <xs:element type="json_array__clj2x-sfx_1Type" name="json_array" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>