cloveretl.examples/Examples/meta/issue_json.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="json_object" type="json_objectType"/>
  <xs:complexType name="issuetypeType">
    <xs:sequence>
      <xs:element type="xs:string" name="self"/>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="description"/>
      <xs:element type="xs:string" name="iconUrl"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="subtask"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fieldsType">
    <xs:sequence>
      <xs:element type="xs:string" name="summary"/>
      <xs:element type="issuetypeType" name="issuetype"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="issuesType">
    <xs:sequence>
      <xs:element type="xs:string" name="expand"/>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="self"/>
      <xs:element type="xs:string" name="key"/>
      <xs:element type="fieldsType" name="fields"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="arrayElem"/>
  </xs:complexType>
  <xs:complexType name="json_objectType">
    <xs:sequence>
      <xs:element type="xs:string" name="expand"/>
      <xs:element type="xs:string" name="startAt"/>
      <xs:element type="xs:string" name="maxResults"/>
      <xs:element type="xs:string" name="total"/>
      <xs:element type="issuesType" name="issues"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>